.App {
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

.date-span span {
  font-size: 14px;
  font-weight: bold;
}

.emoji-span span {
  font-size: 50px;
}

.pageLink {
  float: right;
  background-color: #425f4f;
  color: antiquewhite;
  border: 2px solid antiquewhite;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.pageLink:hover {
  color: #383838;
  text-decoration: none;
}

.col-md-3, .col-md-6, .col-md-10, .col-md-8, .list-group-item {
  color: white;
  margin-bottom: 2%;
  margin-top: 1%;
  background-color: rgba(184, 157, 104, .7);
  padding-top: 1%;
  padding-bottom: .5%;
  border: 2px solid antiquewhite;
  border-radius: 6px;
}

.col-md-3 {
  height: fit-content;
  text-align: center;
  margin-left: 10%;
}

.col-md-6 {
  height: auto;
  text-align: center;
}

.list-group-item {
  text-align: left;
}

@media screen and (max-width: 800px) {
  .col-md-3 {
    margin-left: auto;
  }
} 