.title {
    width: 33%;
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 2%;
    margin-top: 1%;
    margin: auto;
    background-color: rgba(172, 48, 48, 0.7);
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid antiquewhite;
    border-radius: 6px;
  }